<html>
<head>
<script type="text/javascript" src="../public/table_script.js"></script>
<link rel="stylesheet" type="text/css" href="/css/manage.css">
</head>

<body>
  <div class="center">
    <h3>Welcome <%=$user.username%></h3>
    <h1>Manage Snippets </h1>
  </div>
  <div id="wrapper" class="center">
    <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
      <tr>
        <th>Questions</th>
        <th>Answers</th>
        <th>Add/Edit/Delete</th>
      </tr>
      <form action="/api/v1/snippets/new" method="POST">
        <tr>
          <td height="10"><textarea id="placeholder" placeholder="Enter a new question here..." style="text-align:center;" rows="1" cols="90" type="text" name="question" maxlength="250"></textarea></td>
          <td height="10"><textarea placeholder="Enter an answer to your question here..." style="text-align:center;" rows="1" cols="90" type="text" name="answer" maxlength="250"></textarea></td>
          <td width="10%" height="50"><input type="submit" value="Add A New Snippet!"></td>
        </tr>
      </form>
      <% $snippety.each do |snippet| %>
      <tr class="row" id="row">
        <td id="question_row1"><%=snippet["question"]%></td>
        <td id="answer_row1"><%=snippet["answer"]%></td>
        <td>
          <form onsubmit="return confirm('Are you sure you want to delete the Snippet?')" action='/api/v1/snippets/delete/<%= snippet["id"] %>' method="post">
            <input type="submit" value="Delete" class="delete"> | <a id="button" shape="circle" color="black" href='/api/v1/snippets/edit/<%= snippet["id"] %>'>Edit</a>
          </form>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
  <div class="center">
    <h3><a href="/">Play</a> - <a href="/users/admin">Admin</a></h3>
  </div>
</body>
</html>
